@media screen and (min-width: 1920px) {
    #introPage {
        background-size: cover;
    }
}
/* max-width 1920 end */

@media screen and (min-width: 1280px) {
    #mobileBtn{
        display:none;
    }
}
/* min-width 1280 end */

@media screen and (max-width: 1280px) {
    #introPage {
        background: url(../img/intro2.png) no-repeat 10%;
    }

    #introPage h2 {
        font-size: 90px;
    }
}
/* max-width 1280 end */


@media screen and (max-width: 1024px) {

    /* mainMenu */
    #mainMenu.on {
        display: block;
        animation-name: fadeInAni;
        animation-duration: .8s;
        animation-timing-function: ease-out;
      }

      #mainMenu.off {
        visibility: hidden;
      }
    /* mainMenu end  */

    #mobileBtn {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        width: 80px;
        height: 80px;
        padding: 0;
        background: rgba(255, 255, 255, 0);
    }
    #mobileBtn:hover,
    .menuBtn:focus {
        background: rgba(211, 211, 211, 0.4);
    }
    .btnTop,
    .btnMiddle,
    .btnBottom {
        display: block;
        width: 26px;
        height: 3px;
        margin: 5px auto;
        background: black;
        text-align: center;
    }

    #mainNav div ul {
        margin-top: 80px;
        display: none;
        height: 100vh;
        background: #f9f9f9;
    }

    #mainNav div ul li {
        width: 100%;
        padding: 0 50px;
        float: none;
        background: #fff;
        border: 1px solid #eee;
        margin-bottom: -1px;
    }
    #introPage {
        background: url(../img/intro2.png) no-repeat 15%;
    }

    #introPage h2 {
        font-size: 85px;
    }

    #itemArea {
        display: flex;
    }

    #itemArea .itemFloat {
        flex-direction: column;
        width: 50%;
        margin:2% 1%;
    }

    #itemArea h2 {
        display: none;
    }

    #itemArea .boxItem {
        margin: 2% 1%;
        overflow: hidden;
    }
}
/* max-width 1024 end */


@media screen and (max-width: 767px) {
    #mobileBtn {
        position: absolute;
        top: 0;
        right: 0;
        width: 80px;
        height: 80px;
        padding: 0;
        background: rgba(255, 255, 255, 0);
    }

    #mobileBtn:hover,
    .menuBtn:focus {
        background: rgba(211, 211, 211, 0.4);
    }

    .btnTop,
    .btnMiddle,
    .btnBottom {
        display: block;
        width: 26px;
        height: 3px;
        margin: 5px auto;
        background: black;
        text-align: center;
    }

    #contactArea div {
        margin: 0 20px;
    }

    #mainNav div {}

    #mainNav div ul {
        margin-top: 80px;
        display: none;
        height: 100vh;
        background: #f9f9f9;
    }

    #mainNav div ul li {
        width: 100%;
        padding: 0 50px;
        float: none;
        background: #fff;
        border: 1px solid #eee;
        margin-bottom: -1px;
    }
}