/* @media screen and (max-width:959px){

}; */

@media screen and (max-width:767px){
#fp-nav{
    display:none !important;
}
#mainNav div ul li{
    width:120px;
}
#introPage h2{
    font-size:2em;
    letter-spacing:0.1em;
}
.slide{
    width:80% !important;
}
};