/* reset */
body{
    margin:0;
    padding:0;
}
ul,li,dl,dt,dd{margin:0;padding:0;list-style:none;}

#contentArea01{
    background:url(../img/mainBack03.jpg)no-repeat;
}
#contentArea02{
    background:url(../img/mainBack02.png)no-repeat;
    background:#f39531;
}
#contentArea03{
    background:url(../img/mainBack02.png)no-repeat;
}
/* nav */
#mainNav div ul{
    overflow:hidden;
    position:fixed;
    top:0;
    height:80px;
    z-index: 9999;
}
#mainNav div ul li{
    float: left;
    width: 150px;
    text-align: center;
    height: 80px;
    line-height: 80px;
}
#mainNav div ul li a{
    display:block;
    width:100%;
    text-decoration: none;
    color:#0f4c8e;
}

/* contentSection */
.contentSection .contentSet{
    max-width:1280px;
    width:80%;
    margin:0 auto;
}
#contentArea02 ul{
    display:flex;
    justify-content:space-around;
    align-items:center;
    flex-wrap: nowrap;
}
#contentArea02 ul li{
    text-align:center;
    width:25%;
    height:150px;
    background:#ccc;
    border:1px solid #eee;
}