/* reset */
body{
    margin:0;
    padding:0;
}
ul,li,dl,dt,dd{margin:0;padding:0;list-style:none;}

#introPage{
    background:url(../img/mainBack16.jpg)no-repeat;
    background-size:cover; 

}
#itemArea{
    background:url(../img/mainBack17.jpg)no-repeat;
    background-size:cover;
}
#contactArea{
    /* background:url(../img/mainBack18.jpg)no-repeat; */
}
/* common */
.section .contentSet{
    max-width:1080px;
    width:100%;
    margin:0 auto;

    padding:0 30px;
}
.contentSet h2{
    font-size:3em;
    text-align:center;
    display:none;
    /* background: linear-gradient(to right, #99aece, #eeeeee); #0f578e */
    /* -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
}
.contentSet span{
    /* background: linear-gradient(to right, #f89300, #eeeeee); #0f578e 99aece
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    text-align:center;
    /* padding-left:23px; */
}
/* nav */
#mainNav{
    background:#f9f9f9;
    width:100%;
    overflow:hidden;
    position:fixed;
    top:0;
    z-index: 9999;
}
#mainNav{
    height:80px;
    
}
#mainNav div ul li{
    float: left;
    width: 150px;
    text-align: center;
    height: 80px;
    line-height: 80px;
}
#mainNav div ul li a{
    display:block;
    width:100%;
    text-decoration: none;
    color:#0f4c8e; /*#f89300*/
}
#mobileBtn{
    display:none;
}


/* #introPage */

#introPage{
    position:relative;
    
}
#introPage .contentSet{
    max-width:1280px;

}
#introPage h2{
    font-size:6em;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    text-align:left;

}
.introDivideLayout{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.introDivideLayout img{
    width:48%;

}
.scrollBtnContainer{
    width:100%;
    display:block;
    text-align:center;
}
#scrollGideBtn{
    background: none;
    border:0;
    position: absolute;
    bottom:60px;
    left: 50%;
    transform: translate(-50%, -50%);
}
#scrollGideBtn img{
    width:50px;
}


/* 아이템 부분 */

.contentFloat{
    text-align:left;
    max-width:360px;
}
.contentFloat figure{
    position:relative;
    margin:0;
    width:100%;
    height:100%;
}
.contentFloat figure figcaption{
    position:absolute;
    top:47%;
    left:45%;
}
.itemFlex{
    display:flex;
    justify-content: space-between;
}
.contentFloat img{
    display:block;
    margin:0 auto;
    box-shadow:3px 3px 10px 2px rgba(0,0,0,0.4);
    float:left;
    width:100%;
}


/* #contactArea */

#contactArea dl{
    display:flex;
    justify-content: space-between;
    margin:15px 0;
}
#contactArea .contentSet{
    width:800px;
    margin:0 auto;
}
.fadeTop{
    position: relative;
    bottom:-50px;
    /* display:none; */
}
.fadeTopOn{
    position: relative;
    bottom:0px;
    display:block;
}


/*
이미지 출처 
<a href='https://www.freepik.com/free-photos-vectors/mockup'>Mockup psd created by yeven_popov - www.freepik.com</a>
<a href='https://www.freepik.com/free-photos-vectors/mockup'>Mockup vector created by rawpixel.com - www.freepik.com</a>
*/