#subContentArea {
    padding-top: 60px;
}

#subIntroPage {
    padding: 0px 0 150px 0;
    position: relative;
}

#subIntroPage .contentSet {
    text-align: center;
}

#subIntroPage img {
    width: 75%;
    margin: 0 auto;
    display: block;
}

/* subList */
.subList {
    position: fixed;
    top: 0;
    left: 0;
    width: 140px;
    height: 100vh;
    padding-top: 150px;
    justify-content: center;
    padding: 20px;
    margin-top: 80px;
    background: rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.subList ul {
    margin: 0 auto;
}

.subList ul li {
    margin: 30px 0;
    background:none !important;
}

.subList ul li a {
    text-decoration: none;
    color: #ddd;
    font-weight: 400;
}

.subList ul li a:hover {
    color: #fff;
}

/* subList end */

.threeCul {
    width: 100%;
    max-width: 100%;
}

/* background */
.nikeBackground{
    background:#f5f5f5;
}

.foodtalkBackground{
    background:#f29200;
}

.entBackground{
    background:#9b9a6a;
}

.cncBackground{
    background:#aa4171;
}

#subContentArea .nikeCul {
    background: url(./../img/nike_back.jpg)no-repeat;
    height: 100%;
    background-size: cover;
}

#subContentArea .entCul {
    background: url(./../img/ksg_back.jpg)no-repeat 50%;
    height: 100%;
    background-size: cover;
}

#subContentArea .foodtalkCul {
    background: url(./../img/food_back.jpg)no-repeat 50%;
    height: 100%;
    background-size: cover;
}

#subContentArea .cncCul {
    background: url(./../img/cnc_back.jpg)no-repeat 50%;
    height: 100%;
    background-size: cover;
}

/* background end */

/* carousel */
.carousel {
    padding: 100px 0 100px 0;
}

.carousel-inner>.item {
    -webkit-transition: -webkit-transform .0s ease-in-out !important;
    -o-transition: -o-transform .0s ease-in-out !important;
    transition: transform .0s ease-in-out !important;
}

.carousel-inner>.item>img {
    display: block;
    max-width: 100%;
    height: auto;
}

.carousel-inner>.item>a>img,
.carousel-inner>.item>img,
.img-responsive,
.thumbnail a>img,
.thumbnail>img {
    margin: 0 auto;
}

.carousel-indicators li {
    position: relative;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 30px !important;
    height: 3px !important;
    margin-right: 3px !important;
    margin-left: 3px !important;
    text-indent: -999px;
    background-color: rgba(255, 255, 255, .5) !important;
    border: none !important;
    margin: 0 0.2% !important
}

.carousel-indicators li:hover,
li:active {
    background: rgba(255, 255, 255, 1) !important;
}

.carousel-control .glyphicon-chevron-left,
.carousel-control .icon-prev {
    margin-left: 50% !important;
}

.carousel-control .glyphicon-chevron-right,
.carousel-control .icon-next {
    margin-right: 50% !important;
}

.carousel-control.left {
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .4) 0, rgba(0, 0, 0, .0001) 100%) !important;
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, .4) 0, rgba(0, 0, 0, .0001) 100%) !important;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .4)), to(rgba(0, 0, 0, .0001))) !important;
    background-image: linear-gradient(to right, rgba(0, 0, 0, .4) 0, rgba(0, 0, 0, .0001) 100%) !important;
}

.carousel-control.right {
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .0001) 0, rgba(0, 0, 0, .4) 100%) !important;
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, .0001) 0, rgba(0, 0, 0, .4) 100%) !important;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .0001)), to(rgba(0, 0, 0, .4))) !important;
    background-image: linear-gradient(to right, rgba(0, 0, 0, .0001) 0, rgba(0, 0, 0, .4) 100%) !important;
}

/* carousel end */


#subContentArea button {
    display: block;
    width: 140px;
    margin: 0 auto;
    padding: 8px;
    background: none;
    line-height: 22px;

    outline: none;
    border-radius: 3px;
    margin-top: 20px;
}

#subContentArea .black{
    border: 1px solid #eee;    
}

#subContentArea .black a{
    color: #ddd;
}

#subContentArea .black a:hover {
    color: #fff;
    text-decoration: none;
}

#subContentArea .white {
    border: 1px solid #333;  
}

#subContentArea .white a{
    color: #666;
}

#subContentArea .white a:hover {
    color: #111;
    text-decoration: none;
}